.me-auto {
    margin-right: auto!important;
}

.me-2 {
    margin-right: .5rem!important;
}

a.dropdown-toggle,
a.dropdown-item {
    cursor: pointer;
}

img {
    max-height: 50px;
    border: 2px solid #fff;
    display: inline;
}